NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_BASIC_PRICE_ID=
STRIPE_PLUS_PRICE_ID=
STRIPE_ELITE_PRICE_ID=
STRIPE_FOUNDERS_PRICE_ID=

NEXT_PUBLIC_SITE_URL=http://localhost:3000

RESEND_API_KEY=
RESEND_FROM_EMAIL=membership@revveduprally.com

NEXT_PUBLIC_MAP_PROVIDER=mapbox
NEXT_PUBLIC_MAP_TOKEN=

NEXT_PUBLIC_GA_ID=
